.time {
    width: 100%;
    padding: 10px;
    background-color: #126B40;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.ama {
    background-color: #FFAF00;
}

.rojo {
    background-color: #93342C;
}