<div class="info">
    <ion-label>{{ lab }}</ion-label>
    <div class="guia">
        <ion-chip color="warning" *ngIf="hel !== ''">{{ hel }}</ion-chip>
        <ion-chip color="danger" *ngIf="required === 'true'">
            <ion-icon class="icon" name="alert-circle-outline"></ion-icon> Requerido</ion-chip>
    </div>
</div>
<ion-button expand="full" color="light" mode="ios" shape="round" (click)="opts()">Tomar Foto</ion-button>

<div *ngFor="let image of listRoot;" class="img">
    <img src="{{ image.path }}" alt="">
    <div class="opt">
        <ion-chip *ngIf="!capture" color="danger" (click)="clear()">
            <ion-icon name="trash" slot="start"></ion-icon>
            <ion-label>Eliminar</ion-label>
        </ion-chip>

        <ion-chip *ngIf="!capture" color="success" (click)="upload()">
            <ion-icon name="trash" slot="start"></ion-icon>
            <ion-label>Subir</ion-label>
        </ion-chip>
    </div>
</div>